* {
  margin: 0%;
  padding: 0%; }

body {
  background-color: black;
  color: white;
  font-family: barlow semi condensed;
  font-size: 1rem; }

main {
  margin-left: 30px;
  margin-right: 30px; }

.contact {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px; }

.form-group {
  padding-top: 15px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center; }

.far {
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px; }

.col-md-12 {
  padding-top: 30px; }

.btn-primary {
  background-color: #a3002d;
  border: #a3002d; }

.main {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 40px;
  text-align: center; }
  .main--title1 {
    margin: 1rem;
    color: #e36900;
    text-align: left;
    margin-left: 20px; }
  .main--title {
    color: #e36900;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    margin-left: 20px; }
  .main--title2 {
    color: #d0d604;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 70px; }
  .main--title3 {
    color: #d0d604;
    text-transform: uppercase;
    font-weight: bold; }
  .main--title4 {
    color: #d0d604;
    text-transform: uppercase;
    font-weight: bold; }

.principalTitle {
  color: #d0d604;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px; }

.columnass {
  align-items: center; }

.sectionRecipes--1 {
  text-align: center;
  margin: 10px;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center; }

#galeria img {
  max-width: 1000px;
  width: 300px;
  height: 250px;
  object-fit: cover; }

#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px; }

#galeria img:hover {
  border: 5px solid black; }

.textRecipe {
  text-align: center;
  padding-top: 10px; }

.imgRecetas {
  width: 70%;
  margin-top: 30px;
  margin-bottom: 30px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.imgPrincipal {
  width: 90%;
  display: block;
  margin: auto;
  padding-top: 30px; }

.container {
  margin: auto; }

.recipes {
  background-color: #d0d604; }
  .recipes--title {
    color: black;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 20px; }

.images {
  display: block;
  width: 75%;
  margin: auto; }

.linksRecipes {
  color: black;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px; }
  .linksRecipes--index {
    color: #a3002d; }

.header {
  color: #d0d604;
  text-transform: uppercase;
  font-weight: bold; }

.navbar {
  background-color: #d0d604; }

footer {
  margin-top: 60px;
  padding-bottom: 0%; }

.p-4 {
  background-color: black; }

.p-3 {
  background: linear-gradient(to left, #145427, #d0d604, #e36900, #a3002d); }

a {
  text-decoration: none; }
