.principalTitle {
  color: $color-principal;
  text-align: center;
  font-size: bold;
  margin: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sectionRecipes--1 {
  text-align: center;
  margin: 10px;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
}

#galeria img {
  max-width: 1000px;
  width: 350px;
  height: 250px;
  align-items: center;
}

#galeria .col-lg-4 {
  margin: 0%;
  padding: 20px;
}

#galeria img:hover {
  border: 5px solid $black;
}

.textRecipe {
  text-align: center;
  padding-top: 10px;
}
