.p-4 {
  background-color: $black;
}

//barra con gradiente del footer//
.p-3 {
  background: linear-gradient(
    to left,
    $color-alt,
    $color-principal,
    $color-enlaces,
    $color-alt2
  );
}

a {
  text-decoration: none;
}
