.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-primario;
  margin: 0;
  padding: 0 1rem;

  .header--logo {
    width: 150px;
    padding: 1rem 0;
    padding-left: 1rem;
  }

  .header--links {
    display: flex;
    gap: 1rem;
    text-decoration: none;
    color: $negro;
  }
}
