/*ACÁ VAN LOS ESTILOS DE TODAS LAS SECCIONES QUE TIENEN LAS RECETAS*/
* {
  margin: 0% 0;
}

html {
  font-size: 62.5%;
}

/*BODY*/
.bodyRecipes {
  color: white;
  font-size: 1.6rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 100vh;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: black;
}

/*HEADER*/
/*Barra de navegación*/
.menu {
  background-color: #d0d604;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.logo {
  width: 150px;
  padding: 0 30px;
}

.linkNav {
  display: flex;
}

.menu a {
  text-decoration: none;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: bold;
  color: black;
  width: 90%;
  padding: 10px 10px;
  margin: 0 20px;
  display: block;
}

.menu a:hover {
  background: white;
  transition: 1s;
}

a {
  color: #e36900;
  text-decoration: underline;
}

.principalTitle {
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 20px;
  color: #d0d604;
  text-align: center;
}

/*MAIN*/
/*Sector de imágenes y recetas*/

.SectionPrincipal {
  text-align: center;
  margin: 20px;
}

.ConteinerRecipes {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 50px 50px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

.ConteinerItem {
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
}

.StartButtom {
  text-decoration: none;
  margin: 20px;
}

/*FOOTER*/
.Footer {
  color: black;
  padding: 1.5rem;
  margin-top: 20px;
  grid-column: 1/3;
  height: 15px;
  background: linear-gradient(to right, #a3002d, #e36900, #d0d604, #145427);
}
